/* header {
    background-color: black;
    color: aliceblue;
}

main{
    background-color: rgb(90, 90, 90);
    color: aliceblue;
}

footer {
    background-color: black;
    color: aliceblue;
} */

body {
    margin: 0;
    padding: 0;
}

.profile-pic {
    max-width: 100px;
    border-radius: 33%;
}

.background-bear {
    background-color: #333;
    width: 100px;
    height: 100px;
    padding: 7px;
    border-radius: 33%;
    margin: 15px;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.info {
    margin: 6px;
}

.info>li {
    list-style: none;
    padding: 1px;
} 

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    list-style: none;
    display: inline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 12px 18px;
    color: #fff;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover{
    background-color: #868484;
    color: #333;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

main {
    float: right;
    width: 100%;
    background-color: rgb(48, 45, 45);
    padding-top: 131px 
}

.mail-part {
    display: flex;
    flex-direction: column;
}

#name, #email, #message {
    width: 60%;
    padding: 9px 15px;
    margin-left: 10px;
    background-color: rgb(103, 108, 104);
    color: white;
    border-radius: 10px;
    border: 0;
    outline: 0;
    opacity: .8;
    font-family: 'Courier New', Courier, monospace;
    &::placeholder{
        color: #ddd;
    }
}

.submit-button {
    width: 17%;
    height: 26px;
    background-color: #5e5858;
    color: #ddd;
    border-radius: 20px;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    display: inline-flex; /* Use flexbox */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    font-weight: 600;
    padding: 10px;
    margin-left: 10px;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
        background-color: #868484;
        color: black;
    }
}

article, section {
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: rgb(135, 170, 232);
}

footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

